@media print {
    body {
        font-family: monospace;
        font-size: 10.5pt;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
    }

    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
    }
    .noprint {
        display: none;
    }
}

@media screen {
    .grey,
    .grey a:link,
    .grey a:visited {
        color: #f77;
    }
    .docinfo {
        background-color: #eee;
    }
    .top {
        border-top: 7px solid #eee;
    }
    .bgwhite {
        background-color: white;
    }
    .bgred {
        background-color: #f44;
    }
    .bggrey {
        background-color: #666;
    }
    .bgbrown {
        background-color: #840;
    }
    .bgorange {
        background-color: #fa0;
    }
    .bgyellow {
        background-color: #ee0;
    }
    .bgmagenta {
        background-color: #f4f;
    }
    .bgblue {
        background-color: #66f;
    }
    .bgcyan {
        background-color: #4dd;
    }
    .bggreen {
        background-color: #4f4;
    }

    .legend {
        font-size: 90%;
    }
    .cplate {
        font-size: 70%;
        border: solid grey 1px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 14pt;
    }
    div.content {
        width: 96ex;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        font-size: 14pt;
    }
    div.content {
        width: 96ex;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    body {
        font-size: 11pt;
    }
    div.content {
        width: 96ex;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    body {
        font-size: 8pt;
    }
    div.content {
        width: 96ex;
        margin: 0 auto;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    body {
        font-size: 9.5pt;
    }
    div.content {
        width: 96ex;
        margin: 0;
    }
}

@media only screen and (min-device-width: 1200px) {
    body {
        font-size: 10pt;
        margin: 0 4em;
    }
    div.content {
        width: 96ex;
        margin: 0;
    }
}

@font-face {
    font-family: "VT323";
    src: url("/VT323-Regular.ttf");
}

@font-face {
    font-family: "C64";
    src: url("/Commodore-64-v6.3.TTF");
}

@font-face {
    font-family: "C64PRO";
    src: url("/C64_Pro-STYLE.ttf");
}

@font-face {
    font-family: "C64PROMONO";
    src: url("/C64_Pro_Mono-STYLE.ttf");
}

@font-face {
    font-family: "SAIRA";
    src: url("/SairaSemiCondensed-Regular.ttf");
}

:root {
    --sky-blue: #00ccff;
    --turquoise: #4ce7ff;
    --lemon-yellow: #fff1a1;
    --lemon-yellow-light: #fff5d1;
    --american-orange: #ff8b00;
    --safety-orange: #ff6c00;
    --flame: #e75219;

    /*---*/

    --col-outer-bg: #27272a;
    --col-inner-bg: #1a1b22;

    --col-title: var(--sky-blue);
    --col-title-bg: var(--col-inner-bg);
    --col-title-shad-1: #022;
    --col-title-shad-2: #f5a;
    --col-title-border: #333;

    --col-meta-data: #654;

    --col-ptitle: #fc872c;
    --col-inner-ink: #d5ddd5;

    --col-pname: #24ddf9;
    --col-tname: #f5f;

    --col-text-shadow: hsl(1 100% 0%);

    --col-a-link: #c88; /*--col-ptitle-bg: #111222;*/
    /*--col-title-bg: var(--sky-blue);*/
}

header {
    background: var(--col-outer-bg);
    /*background: #ff0000;*/
    grid-area: header;
}

nav {
    background: var(--col-outer-bg);
    grid-area: nav;
}

aside {
    background: var(--col-outer-bg);
    grid-area: aside;
}

footer {
    background: var(--col-outer-bg);
    grid-area: footer;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav main aside"
        "footer footer footer";

    grid-template-rows: 30px 1fr 15px;
    grid-template-columns: 1fr 790px 1fr;
    grid-gap: 0px;
    height: 100vh;
    margin: 0px;
    /*max-width: 1080px;
    min-width: 740px;*/

    background: var(--col-inner-bg);
    color: var(--col-inner-ink);

    /*text-shadow: 1px 1px 3px var(--col-text-shadow);*/
}

article-metadata {
    text-align: right;
    font-family: "C64PROMONO";
    color: var(--col-meta-data);
}

article-metadata p {
    margin-top: 20px;
    padding-right: 0px;
    font-size: 0.4em;
}

article {
    background: var(--col-inner-bg);

    grid-area: article;
    padding-left: 40px;
    padding-right: 40px;
    margin: 35px;
    /*margin-top: 5%;*/

    /*font-family: "VT323", monospace, sans-serif;*/
    font-family: "SAIRA";
    font-size: 0.9rem;
    /*line-height: 1.4;*/

    /*background-color: var(--col-body-bg);*/
    /*color: var(--col-inner-fg);*/
    /*text-shadow: 0 0 4px var(--col-inner-shadow);*/
}

pname {
    /*font-weight: bold;*/
    color: var(--col-pname);
}

tname {
    /*font-weight: bold;*/
    color: var(--col-tname);
}

ital {
    font-style: italic;
}

.title {
    font-family: "SAIRA";
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;

    color: var(--col-title);
    background-color: var(--col-title-bg);
    /*text-shadow:
        2px 2px 2px var(--col-title-shad-1),
        2px 2px 2px var(--col-title-shad-2);*/

    /*border-color: var(--col-title-border);
    border-radius: 25px;
    border-width: 7px 3px;
    border-style: double dashed double;*/
}

.ptitle {
    /*font-size: 1.7rem;*/
    font-size: 0.9rem;
    /*font-family: "C64";*/
    font-weight: bold;
    color: var(--col-ptitle);
    background-color: var(--col-ptitle-bg);
}

p {
    margin-left: 2em;
}

.art-deco {
    border: 15px solid transparent; /* invisible space */
    outline: 4px solid #cdcdcd;
    outline-offset: -10px; /* first box */
    background:
        linear-gradient(#cdcdcd 0 0) top,
        linear-gradient(#cdcdcd 0 0) left,
        linear-gradient(#cdcdcd 0 0) bottom,
        linear-gradient(#cdcdcd 0 0) right;
    background-size:
        200% 4px,
        4px 200%; /* second box */
    background-origin: padding-box;
    background-repeat: no-repeat;
}

pre {
    margin: auto;
    margin-top: 10vh;
    display: table;
}

#glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* ensure the effect doesn't cover the text */
    /*background: radial-gradient(hsl(154 5% 15%) 0%, hsl(154 50% 5%) 70%);*/
    background: radial-gradient(
        var(--col-inner-bg-center) 20%,
        var(--col-inner-bg-outer) 70%
    );
}

@keyframes lines {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 0px 0px;
    }
    51% {
        background-position: 0px 2px;
    }
    100% {
        background-position: 0px 2px;
    }
}

#interlaced {
    position: fixed;
    background: repeating-linear-gradient(
        transparent 0px 1px,
        hsl(154 0% 0%/0.3) 3px 4px
    );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    animation: lines 0.06666666s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.4s linear infinite;
}

a {
    color: var(--col-a-link);
}
