@font-face {
    font-family: "C64PROMONO";
    src: url("/C64_Pro_Mono-STYLE.ttf");
}

@font-face {
    font-family: "SAIRA";
    src: url("/SairaSemiCondensed-Regular.ttf");
}

:root {
    --sky-blue: #00ccff;
    --turquoise: #4ce7ff;
    --lemon-yellow: #fff1a1;
    --lemon-yellow-light: #fff5d1;
    --american-orange: #ff8b00;
    --safety-orange: #ff6c00;
    --flame: #e75219;

    /*---*/

    --col-outer-bg: #27272a;
    --col-inner-bg: #1a1b22;

    --col-title: var(--sky-blue);

    --col-title-shad-1: #022;
    --col-title-shad-2: #f5a;
    --col-title-border: #f5a;

    --col-meta-data: #654;

    --col-ptitle: #fc874c;
    --col-inner-ink: #d5ddd5;

    --col-pname: #24ddf9;
    --col-tname: #f5f;

    --col-text-shadow: hsl(1 100% 0%);

    --col-a-link: #faa;
    --col-ref: #8f8;
}

header {
    background: var(--col-outer-bg);
    grid-area: header;
}

nav {
    background: var(--col-outer-bg);
    grid-area: nav;
}

aside {
    background: var(--col-outer-bg);
    grid-area: aside;
}

footer {
    background: var(--col-outer-bg);
    grid-area: footer;
}

body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav article aside"
        "footer footer footer";
    text-align: left;
    align-self: center;
    grid-template-rows: 2ch 1fr 2ch;
    grid-template-columns: auto 75ch auto;
    grid-gap: 0px;
    margin: 0px;

    background: var(--col-inner-bg);
    color: var(--col-inner-ink);

    text-shadow: 1px 1px 3px var(--col-text-shadow);
}

article-metadata {
    text-align: right;
    font-family: "C64PROMONO";
    color: var(--col-meta-data);
}

article-metadata p {
    margin-top: 20px;
    padding-right: 0px;
    font-size: 0.4em;
}

article {
    grid-area: article;
    padding-left: 40px;
    padding-right: 40px;
    margin: 35px;

    font-family: "SAIRA";
    font-size: 0.9rem;
}

pname {
    color: var(--col-pname);
}

tname {
    color: var(--col-tname);
}

ital {
    font-style: italic;
}

ref {
    color: var(--col-ref);
}

.title {
    font-family: "SAIRA";
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;

    color: var(--col-title);

    text-shadow:
        2px 2px 2px var(--col-title-shad-1),
        2px 2px 2px var(--col-title-shad-2);

    border-color: var(--col-title-border);
    border-radius: 35px;
    border-width: 7px 3px;
    border-style: none dashed;
}

.ptitle {
    font-size: 0.7rem;
    font-family: "C64PROMONO";
    font-weight: bold;
    color: var(--col-ptitle);
}

p {
    margin-left: 3ch;
}

a {
    color: var(--col-a-link);
}

.art-deco {
    border: 15px solid transparent; /* invisible space */
    outline: 4px solid #cdcdcd;
    outline-offset: -10px; /* first box */
    background:
        linear-gradient(#cdcdcd 0 0) top,
        linear-gradient(#cdcdcd 0 0) left,
        linear-gradient(#cdcdcd 0 0) bottom,
        linear-gradient(#cdcdcd 0 0) right;
    background-size:
        200% 4px,
        4px 200%; /* second box */
    background-origin: padding-box;
    background-repeat: no-repeat;
}

#glare {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* ensure the effect doesn't cover the text */
    /*background: radial-gradient(hsl(154 5% 15%) 0%, hsl(154 50% 5%) 70%);*/
    background: radial-gradient(
        var(--col-inner-bg-center) 20%,
        var(--col-inner-bg-outer) 70%
    );
}

@keyframes lines {
    0% {
        background-position: 0px 0px;
    }
    50% {
        background-position: 0px 0px;
    }
    51% {
        background-position: 0px 2px;
    }
    100% {
        background-position: 0px 2px;
    }
}

hack {
    /*position: fixed;*/
    background: repeating-linear-gradient(transparent 1px 1px, #f5f 2px 4px);
    top: 10;
    left: 10;
    right: 10;
    bottom: 10;
    z-index: 1;
    pointer-events: none;
    animation: lines 0.06666666s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.4s linear infinite;
}
